@font-face{
font-family: "PT Sans";
src: url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');
}
body{
  font-size: 0.875rem;
  line-height: 1.857em;
  color: #333333;
  font-weight: 400;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  background-color: #f1f1f1;
  text-align: center;
  padding: 0;
  margin: 0;
}
.container{
  background-color:#fff;
  position: relative;
  width:1200px;
  margin:0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.title,
.intro-title{
  color: #000000;
  font-size: 1.313rem;
  line-height: 1.238em;
  font-weight: 700;
}
.title{
  line-height: 1em;
}
.menu{
  margin: 0;
  padding: 15px 0px;
  display: flex;
  background-color: #ffffff;

}
.logo{
  position: absolute;
  left:50%;
  top:0;
  transform: translateX(-50%);
}
.menu-item{
  flex-basis: 20%;
  flex-shrink: 1;
  list-style-type: none;
}
.menu-item-empty{
  width:244px;
  flex-shrink: 0;
}
.menu-item a{
   text-decoration: none;
   color: #000;
   font-weight: 700;
}
.menu-item a:hover{
   color: #81b3d2;
}
.menu-item a:active{
   color: #b2b2b2;
}
.menu-item a.active{
   color: #766357;
}
.promo{
  background-color: #d4e3ed;
  background-image: url(../img/welcome-bg-new.jpg);
  background-size: cover;
  text-align: center;
  padding: 77px 0 73px 0;
}
.description{
  padding: 45px 0 35px 0;
}
.intro-title{
  margin-bottom: 30px;
}
.reason p,
.features p,
.other-reason p{
  line-height: 1.5em;
}
.reason{
  display:flex;
  min-height: 256px;
  align-content: center;
}
.reason-descripton{
  background-color: #81b3d1;
  color: #fff;
  flex-basis:282px;
  padding: 28px 59px 0 59px;
  flex-shrink: 0;
}
.reason-img{
  flex-basis:800px;
  background-image: url(../img/reason1-img.jpg);
  background-size: cover;
  flex-grow: 1;
}
.reason-img-bridge{
  background-image: url(../img/reason2-img.jpg);
}
.reason-descripton .title{
  color: #fff;
}
.features{
  display:flex;
}
.features-item{
  width:400px;
  min-height: 195px;
  padding: 135px 50px 0 50px;
  line-height: 1.5em;
  position: relative;
}
.features-item-title{
  line-height: 1em;
}
.features-icon::before{
  content: "";
  position: absolute;
  left: 50%;
  top: 55px;
  width: 80px;
  height: 80px;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 80px;
}
.features-icon-house::before{
  background-image: url(../img/icon-house.png);

}
.features-icon-food::before{
  background-image: url(../img/icon-food.png);
}
.features-icon-souvenir::before{
  background-image: url(../img/icon-souvenir.png);
}
.other-reasons{
  display: flex;
  background-color: #eeeeee;
  min-height: 255px;
}
.other-reason{
  width:400px;
  padding-top: 32px;
}
.attention{
  font-weight: 700;
  font-size: 1.875rem;
  padding-top: 27px;
}
.popup-search{
  width: 568px;
  margin: 0 auto;
  position: relative;
}
.popup-search-btn{
  width: 100%;
  min-height:86px;
  background-color: #766357;
  color:#fff;
  font-weight: 700;
  font-size: 1.313rem;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  margin-top:30px;
  border: none;
  outline: none;
}
.popup-search-form{
  position: absolute;
  background-color: #fff;
  padding: 55px;
  font-weight: 700;
  box-shadow: 0px 7px 7px 7px rgba(0, 0, 0, 0.15);
}
.form-row{
  display: flex;
  width: 100%;
  margin:0 0 30px 0;
}
.form-row-last{
  margin:0 0 48px 0;
}

.label{
  min-width: 110px;
  text-align: left;
  min-height: 40px;
  line-height: 40px;
  margin:0 10px 0 0;
}

.input{
width:100%;
background-color: #f2f2f2;
border: none;
font:inherit;
text-transform: inherit;
padding: 0 0 0 10px;
flex-grow: 1;
 outline: none;
 }

.date{
  border: 2px solid #f2f2f2;
  position: relative;
}
.date:hover{
  border:2px solid #ebebeb;
  background-color: #ebebeb;
}
.date:focus{
  background-color: #fff;
  border:2px solid #e5e5e5;
}

.quantity{
  padding: 0;
  text-align: center;
}
.quantity-adult,
.quantity-child{
  width:50%;
  display: flex;
}

.form-child{
  min-width: 60px;
  padding-left: 50px;
}
.control,
.btn-calendar{
  width:40px;
  font:inherit;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  border:none;
  padding: 0 20px;
  outline: none;
}
.btn-calendar{
  background-image: url(../img/icon-calendar.png);
  background-position: 50% 50%;
}
.btn-calendar:hover{
  background-image: url(../img/icon-calendar-hover.png);
  background-position: 50% 50%;
}
.btn-calendar:active{
  background-image: url(../img/icon-calendar-active.png);
  background-position: 50% 50%;
}

.control-minus{
  background-image: url("../img/icon-minus.png");
  background-position: 50% 50%;
}
.control-plus{
  background-image: url("../img/icon-plus.png");
  background-position: 50% 50%;
}
.control-minus:hover{
  background-image: url("../img/icon-minus-hover.png");
}
.control-minus:active{
  background-image: url("../img/icon-minus-active.png");
}
.control-plus:hover{
  background-image: url("../img/icon-plus-hover.png");
}
.control-plus:active{
  background-image: url("../img/icon-plus-active.png");
}
.btn-blue{
  font:inherit;
  color:#fff;
  background-color: #81b3d2;
  padding: 0;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  font-size: 1.313rem;
  outline: none;
}
.btn-blue:hover{
background-color: #669dc0;
}
.btn-blue:active{
background-color: #5495bd;
color:rgba(256, 256, 256, 0.3);
}
.popup-find-btn{
  width: 100%;
  height: 58px;
}
.map{
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  height: 593px;
}




.filter-form{
  background-color: #81b3d2;
  color:#fff;
  background-image: url("../img/filter-bg.jpg");
  display: flex;
  justify-content: space-between;
  padding-left: 73px;
  padding-right: 73px;
  min-height: 217px;
}
 .checkbox-filter{
  display: flex;
 }

.sorting{
  display: flex;
  justify-content: space-between;
  min-height: 88px;
  padding-right: 73px;
  padding-left: 73px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hotel{
  min-height: 150px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-collapse: collapse;
  padding-right: 73px;
  padding-left: 73px;
  display: flex;
  align-items: center;
}
.rating{
  margin-left:auto;
  align-self: flex-end;
}
.hotel-description h2{
  line-height:1.238em;
}
.hotel-img{
  margin-right: 30px;
}
.footer{
  background-color: rgba(254, 254, 254, 0.9);
  min-height: 50px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px 0;
  margin-top:-120px;
}
.footer-hashtag p{
font-size: 1.313rem;
font-weight: 700;
margin: 0;
padding: 0;
}
.footer-social{
  margin: 0;
  font-size: 0;
  text-align: center;

}

.social-opacity{
  width: 45px;
  height: 48px;
  background-color: #81b3d2;
  display: inline-block;
  position: relative;
  margin: 0 3px;
}
.social-btn{
  text-decoration: none;
}
.social-opacity:hover{
  background-color: #669dc0;
}

.social-btn-tw::after{
  width: 45px;
  height: 48px;
  content: "";
  background-image: url(../img/icon-twitter.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  transform: translateX(-50%);
}
.social-btn-fb::after{
  width: 45px;
  height: 48px;
  content: "";
  background-image: url(../img/icon-facebook.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  transform: translateX(-50%);
}
.social-btn-youtube::after{
  width: 45px;
  height: 48px;
  content: "";
  background-image: url(../img/icon-youtube.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  transform: translateX(-50%);
}
.social-btn:active{
  opacity:0.5;
}


.footer-copyright{
min-height: 50px;
display: flex;
align-items: center;
}

.footer-copyright a {
  min-width: 113px;
  min-height: 50px;
  display: block;
  margin-left: 10px;
  background-image: url(../img/logo-htmlacademy.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.footer-copyright a:hover{
  background-image: url(../img/logo-htmlacademy-hover.png);
}
.footer-copyright a:active{
  background-image: url(../img/logo-htmlacademy-active.png);
}
