body{
  font-size: 0.875rem;
  line-height: 1.857em;
  color: #333333;
  font-weight: 400;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  background-color: #f1f1f1;
  text-align: center;
  padding: 0;
  margin: 0;
}
.container{
  background-color: #fff;
  position: relative;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.title,
.intro-title{
  color: #000000;
  font-size: 1.313rem;
  line-height: 1.238em;
  font-weight: 700;
}
.title{
  line-height: 1em;
  margin-bottom: 25px;

}
.intro-title{
  padding: 0 380px;
  margin-bottom: 30px;
}
.menu{
  min-height: 25px;
  margin: 0;
  padding: 15px 73px;
  background-color: #ffffff;

}
.logo{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.menu-item{
  width: 240px;
  display: inline-block;
  list-style-type: none;
}
.menu-item-left{
  text-align: left;
  float: left;
}
.menu-item-right{
  text-align: right;
  float: right;
}
.menu-item a{
   text-decoration: none;
   color: #000;
   font-weight: 700;
}
.menu-item a:hover{
   color: #81b3d2;
}
.menu-item a:active{
   color: #b2b2b2;
}
.menu-item a.active{
   color: #766357;
}
.promo{
  background-color: #d4e3ed;
  background-image: url(../img/welcome-bg-new.jpg);
  background-size: cover;
  text-align: center;
  padding: 77px 0 73px 0;
  clear: both;
}
.description{
  padding: 45px 0 35px 0;
}
.reason p,
.features p,
.other-reason p{
  line-height: 1.5em;
  margin-bottom: 20px;
}
.reason{
  display:flex;
  align-content: center;
}
.reason-descripton{
  background-color: #81b3d1;
  color: #fff;
  flex-basis: 302px;
  padding: 28px 49px 40px 49px;
  flex-shrink: 0;
}
.reason-img{
  background-color: #d4e3ed;
  flex-basis: 800px;
  background-image: url(../img/reason1-img.jpg);
  background-size: cover;
  flex-grow: 1;
}
.reason-img-bridge{
  background-image: url(../img/reason2-img.jpg);
}
.reason-descripton .title{
  color: #fff;
}
.features{
  display: flex;
}
.features-item{
  width: 300px;
  padding: 140px 50px 62px 50px;
  line-height: 1.5em;
  position: relative;
}
.features-item-title{
  line-height: 1em;
}
.features-icon::before{
  content: "";
  position: absolute;
  left: 50%;
  top: 58px;
  width: 80px;
  height: 80px;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 80px;
}
.features-icon-house::before{
  background-image: url(../img/icon-house.png);

}
.features-icon-food::before{
  background-image: url(../img/icon-food.png);
}
.features-icon-souvenir::before{
  background-image: url(../img/icon-souvenir.png);
}
.other-reasons{
  display: flex;
  background-color: #eeeeee;
  min-height: 255px;
}
.other-reason{
  width: 262px;
  padding: 32px 69px 34px 69px;
}
.other-reason-title{
  padding: 0 70px;
}
.attention{
  font-weight: 700;
  font-size: 1.875rem;
  padding-top: 27px;
}
.popup-search{
  width: 568px;
  margin: 0 auto;
  position: relative;
}
.popup-search-btn{
  width: 100%;
  min-height: 86px;
  background-color: #766357;
  color: #fff;
  font-weight: 700;
  font-size: 1.313rem;
  text-transform: uppercase;
  font-family: inherit;
  margin-top: 30px;
  border: none;
  outline: none;
}
.popup-search-form{
  display: block;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  background-color: #fff;
  padding: 54px;
  font-weight: 700;
  box-shadow: 0 7px 15px rgba(0, 0, 0, .15);
}
.popup-search-form-hide{
  display: none;
}

.form-row{
  width: 100%;
  display: flex;
  margin: 0 0 28px 0;
}
.form-row-last{
  margin: 0 0 52px 0;
}

.label{
  min-width: 98px;
  text-align: left;
  min-height: 40px;
  line-height: 40px;
  margin: 0 10px 0 0;
}
.input{
  width: 304px;
  background-color: #f2f2f2;
  border: none;
  font: inherit;
  text-transform: inherit;
  padding: 0 0 0 15px;
  flex-grow: 1;
  outline: none;
 }
.date{
  border: 2px solid #f2f2f2;
  position: relative;
}
.date:hover{
  border: 2px solid #ebebeb;
  background-color: #ebebeb;
}
.date:focus{
  background-color: #fff;
  border: 2px solid #e5e5e5;
}
.quantity{
  width: 38px;
  height: 38px;
  padding: 0;
  text-align: center;
  vertical-align: top;
  font-size: 0.875rem;
  line-height: 1.857em;
  color: #000;
  font-weight: 700;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}
.quantity-adult,
.quantity-child{
  width: 50%;
  box-sizing: border-box;
}
.container-adult,
.container-child{
  box-sizing: border-box;
  width: 120px;
  height: 40px;
  font-size: 0;
  display: inline-block;
  float: right;
}
.container-adult{
  margin-right: 4px;
}
.quantity-child{
  text-align: left;
  padding-left: 50px;
}
.form-adult,
.form-child{
  padding: 0;
  margin: 0;
  min-height: 40px;
  line-height: 40px;
}
.form-adult{
  float:left;
}
.control,
.btn-calendar{
  width: 38px;
  height: 38px;
  font: inherit;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  border: 2px solid #f2f2f2;
}
.btn-calendar{
  height: 40px;
}
.btn-calendar{
  background-image: url(../img/icon-calendar.png);
  background-position: 50% 50%;
}
.btn-calendar:hover{
  background-image: url(../img/icon-calendar-hover.png);
  background-position: 50% 50%;
}
.btn-calendar:active{
  background-image: url(../img/icon-calendar-active.png);
  background-position: 50% 50%;
}
.control-minus{
  background-image: url("../img/icon-minus.png");
  background-position: 50% 50%;
}
.control-plus{
  background-image: url("../img/icon-plus.png");
  background-position: 50% 50%;
}
.control-minus:hover{
  background-image: url("../img/icon-minus-hover.png");
}
.control-minus:active{
  background-image: url("../img/icon-minus-active.png");
}
.control-plus:hover{
  background-image: url("../img/icon-plus-hover.png");
}
.control-plus:active{
  background-image: url("../img/icon-plus-active.png");
}
.btn-blue{
  font: inherit;
  color: #fff;
  background-color: #81b3d2;
  padding: 0;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  font-size: 1.313rem;
  outline: none;
}
.btn-blue:hover{
background-color: #669dc0;
}
.btn-blue:active{
background-color: #5495bd;
color: rgba(255, 255, 255, 0.3);
}
.popup-find-btn{
  width: 100%;
  height: 58px;
}
.map{
  background-color: #ccdeaa;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  height: 593px;
}
/* hotels.html*/
.filter-form{
  background-color: #81b3d2;
  color: #fff;
  background-image: url("../img/filter-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 12px 71px 32px 73px;
  text-align: left;
}

 .filter-checkbox{
  display: flex;
  width: 50%;
 }
 .filter{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }
 .infrastructure{
  margin-right: 18px;
 }
 .filter-title{
  font-size: 1rem;
  line-height: 1.313em;
  font-weight: 700;
  margin-bottom: 4px;
 }
.filter-checkbox-input {
    position: absolute;
    clip: rect(0 0 0 0);
}
.filter-checkbox-label{
  position: relative;
  display: inline-block;
  padding-left: 40px;
}
.filter-checkbox-label::before,
.filter-checkbox-label::after {
    position: absolute;
    content: "";
    display: inline-block;
}
.filter-checkbox-label::before{
    height: 18px;
    width: 16px;
    border: 2px solid #fff;
    border-radius: 4px;
    left: 0px;
}
.filter-checkbox-label::after {
    height: 6px;
    width: 14px;
    border-left: 5px solid #fff;
    border-bottom: 5px solid #fff;
    transform: rotate(-45deg);
    left: 4px;
    top: 2px;
}
.filter-checkbox-input + .filter-checkbox-label::after {
    content: none;
}
.filter-checkbox-input:checked + .filter-checkbox-label::after {
    content: "";
}
.filter-checkbox-input:disabled:checked + .filter-checkbox-label::after{
    content: "";
    opacity: 0.3;
}
.filter-checkbox-input:disabled + .filter-checkbox-label::before{
    content: "";
    opacity: 0.3;
}
.range-price{
  width: 320px;
  color: #ffffff;
  text-transform: uppercase;

}
.range-price-title{
  margin-bottom: 9px;
  margin-left: 2px;
}
.price-controls {
  position: relative;
  height: 34px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}
.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}
.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
  line-height: normal;
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle:hover {
  background: #1c4f80;
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}
.btn-transparent {
  display: block;
  margin-left: 85px;
  padding: 6px 34px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  font-family: inherit;
}
.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}
.sorting{
  display: flex;
  justify-content: space-between;
  min-height: 87px;
  padding: 0 73px;
}
.sorting-left{
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sorting-title{
  line-height: 1.238em;
}
.sorting-btn-title{
  font-size: 0.75rem;
  line-height: 1.5em;
}
.sorting-btn{
  background-color: transparent;
  padding: 0;
  border: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1.5em;
  font-family: inherit;
}
.sorting-btn:hover{
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}
.sorting-btn:active,
.sorting-btn:focus{
  color: #000000;
  border-bottom: 1px solid transparent;
  outline: none;
}
.sorting-btn-active{
  color: #81b3d2;
  border-bottom: 1px solid transparent;
}
.sorting-btn-active:hover{
  border-bottom: 1px solid transparent;
}
.sorting-btn-active:active,
.sorting-btn-active:focus{
  color: #81b3d2;
  border-bottom: 1px solid transparent;
}
.sorting-right{
  display: flex;
  align-items: center;
}
.sorting-btn-up-down{
  padding: 0;
  border: none;
  background: none;
  position: relative;
  width: 20px;
  height: 20px;
}
.sorting-btn-up-down:focus{
  outline: none;
}
.sorting-btn-up:after{
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 11px solid #808080;
  position: absolute;
  top: 50%;
  bottom: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.sorting-btn-up:hover:after {
  border-bottom-color: #000;
}
.sorting-btn-up:active:after{
  border-bottom-color: #82b4d3;
  outline: none;
}
.sorting-btn-down:after{
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 11px solid #808080;
  position: absolute;
  top: 50%;
  bottom: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.sorting-btn-up-down:active:after {
  border-top-color: #82b4d3;
   outline: none;
}
.hotel{
  border-top: 1px solid #e5e5e5;
  padding: 24px 73px;
  display: flex;
  text-align: left;
}
.hotel:last-child{
  border-bottom: 1px solid #e5e5e5;
}
.hotel-title{
  line-height: 1.238em;
  margin: 0 0 17px 0;
  text-decoration: none;
}
.hotel-title:hover{
  color: #81b3d2;
}
.hotel-title:active{
  color: rgba(0, 0, 0, 0.3)
}
.hotel-description-price{
  line-height: 1.5em;
  margin: 3px 0 17px 0;
}
.hotel-type{
  margin-right: 25px;
}
.hotel-img{
  width: 135px;
  margin-right: 30px;
  margin-top: 3px;
}
.btn-read-more,
.btn-book-it{
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.5em;
  padding: 5px 17px;
}
.btn-book-it{
  background-color: #766357;
  color: #fff;
  font-weight: 700;
}
.btn-book-it:hover{
  background-color: #604e43;
}
.btn-book-it:active{
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
.rating{
  margin-left: auto;
  padding: 3px 0 7px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rating-number{
  display: block;
  background-color: #f2f2f2;
  padding: 1px 13px;
  margin: 0;
}
.rating-star{
  width: 90px;
  height: 17px;
  background-image: url(../img/icon-star.png);
  background-repeat: space;
  align-self: flex-end;

}
.rating-star-four{
  width: 80px;
}
.rating-star-three{
  width: 60px;
}
.rating-star-two{
  width: 40px;
}
.rating-star-one{
  width: 20px;
}
.footer{
  background-color: rgba(254, 254, 254, 0.9);
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
}
.footer-index{
   margin-top: -120px;
}
.footer-hashtag p{
font-size: 1.313rem;
font-weight: 700;
margin: 0 0 0 132px;
padding: 0;
}
.footer-social{
  width: 180px;
  text-align: right;
  font-size: 0;
}
.social-opacity{
  width: 45px;
  height: 48px;
  background-color: #81b3d2;
  display: inline-block;
  position: relative;
  margin: 0 3px;
}
.social-btn{
  display: block;
  text-decoration: none;
  width: 45px;
  height: 45px;
}
.social-opacity:hover{
  background-color: #669dc0;
}
.social-btn-tw::after{
  width: 45px;
  height: 48px;
  content: "";
  background-image: url(../img/icon-twitter.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
.social-btn-fb::after{
  width: 45px;
  height: 48px;
  content: "";
  background-image: url(../img/icon-facebook.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
.social-btn-youtube::after{
  width: 45px;
  height: 48px;
  content: "";
  background-image: url(../img/icon-youtube.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
.social-btn:active{
  opacity: 0.5;
}
.footer-copyright{
min-height: 50px;
margin-right: 103px;
display: flex;
align-items: center;
}
.footer-copyright a {
  min-width: 113px;
  min-height: 50px;
  display: block;
  margin-left: 9px;
  background-image: url(../img/logo-htmlacademy.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.footer-copyright a:hover{
  background-image: url(../img/logo-htmlacademy-hover.png);
}
.footer-copyright a:active{
  background-image: url(../img/logo-htmlacademy-active.png);
}
